node_modules

# Output
.output
.vercel
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tests
test-results
playwright*/

# Redis
dump.rdb

# AI
repopack*

# sst
.sst

# Turborepo
.turbo

# No npm
package-lock.json

# Docker
.docker-cache
.build-cache

# Build Visualizer
stats.html

# TLS Cert Generation
.certs
